extends layout

block content
    a.card(href="/turn?choice=rock")
        img(src="/images/Rock.jpg")
    a.card(href="/turn?choice=paper")
        img(src="/images/Paper.jpg")
    a.card(href="/turn?choice=scissors")
        img(src="/images/Scissorsf.jpg")